{ "name" : "jsdeferred"
, "description" : "Asynchronous library in JavaScript. Standalone and Compact."
, "version" : null
, "homepage" : "http://github.com/cho45/jsdeferred"
, "author" : "cho45 <cho45@lowreal.net> (http://www.lowreal.net/)"
, "repository" :
  { "type" : "git"
  , "url" : "git://github.com/cho45/jsdeferred.git"
  }
, "bugs" :
  { "mail" : "cho45@lowreal.net"
  , "web" : "http://github.com/cho45/jsdeferred/issues"
  }
, "modules" :
  { "jsdeferred" : "./jsdeferred.js"
  }
, "directories" : { "doc" : "./doc" }
, "main" : "jsdeferred"
, "licenses" :
  [ { "type" : "MIT"
    , "url" : "http://github.com/cho45/jsdeferred/blob/master/jsdeferred.js"
    }
  ]
}
