
#top {
	font-size: 80%;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
}

#top a:link ,
#top a:visited {
	text-decoration: none;
	color: #333;
}

#content {
	max-width: 60em;
	margin: 0 auto 0 10em;
	line-height: 1.66;
}

#content h2,
#content h3,
#content h4 {
	font-size: 125%;
	background: #282f39;
	color: #ffffff;
	font-weight: normal;
	margin: 3em 0 2em -10em;
	padding: 0.2em 0 0.2em 10em;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

#navigation {
	
}

#navigation a ,
#navigation a:link ,
#navigation a:visited {
	display: block;
	font-weight: bold;
	font-size: 80%;
	width: 2em;
	padding: 0.5em;
	background: #33527f;
	color: #fff;
	text-align: center;
	text-decoration: none;
}

pre {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	background: #efefef;
	font-size: 80%;
	line-height: 1.33;
	padding: 0.5em;
}

#footer {
	font-size: 80%;
	text-align: center;
	padding: 1em;
}

#footer address {
	font-style: normal;
}

#content .note {
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	float: right;
	width: 30em;
	background: #ebf4de;
	font-size: 90%;
	color: #000;
	margin: 0 0 1em 1em;
	padding: 1em 1em 1em 1em;
}

#content .note h2 {
	font-size: 100%;
	color: #000;
	background: transparent;
	margin: 0;
	padding: 0;
	font-weight: bold;
}

